.root {
  display: inline-block;
  position: relative;
  --rdp-cell-size: 40px;
  --rdp-caption-font-size: 18px;
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #e7edff;
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */
}

/* Hide elements for devices that are not screen readers */
.vhidden {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute !important;
  top: 0;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
}

.with_weeknumber {
}

.months_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  overflow: auto;
}

.caption {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}

.multiple_months .caption {
  position: relative;
  display: block;
  text-align: center;
}

.caption_dropdowns {
  position: relative;
  display: inline-flex;
}

.caption_label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 0.25em;
  white-space: nowrap;
  color: currentColor;
  border: 0;
  border: 2px solid transparent;
  font-family: inherit;
  font-size: var(--rdp-caption-font-size);
  font-weight: bold;
}

.nav {
  position: absolute;
  right: 0;
  white-space: nowrap;
}

.multiple_months .caption_start .nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.multiple_months .caption_end .nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.button_next,
.button_previous {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background: none;
  border-radius: 100%;
  color: inherit;
  cursor: default;
  display: inline-flex;
  font: inherit;
  height: var(--rdp-cell-size);
  justify-content: center;
  margin: 0;
  padding: 0;
  padding: 0.25em;
  position: relative;
  width: var(--rdp-cell-size);
}

/* ---------- */
/* Dropdowns  */
/* ---------- */

.dropdown_year,
.dropdown_month {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.dropdown {
  appearance: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.dropdown[disabled] {
  opacity: unset;
  color: unset;
}

.dropdown:focus-visible:not([disabled]) + .caption_label {
  background-color: var(--rdp-background-color);
  border: var(--rdp-outline);
  border-radius: 6px;
}

.dropdown_icon {
  margin: 0 0 0 5px;
}

.head {
}

.head_row,
.row {
  display: flex;
  padding: 0 10px;
}

.head_cell {
  font-size: 0.75em;
  font-weight: light;
  text-transform: uppercase;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tbody {
  border: 0;
}

.footer {
  margin: 0.5em;
}

.cell {
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.weeknumber_rowheader {
  font-size: 0.5em;
}

.weeknumber_rowheader,
.day {
  justify-content: center;
  align-items: center;
  display: flex;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  border: 2px solid transparent;
  border-radius: 100%;
}

.day_today:not(.day_outside) {
  font-weight: bold;
}

.day_selected,
.day_selected:focus-visible,
.day_selected:hover {
  color: white;
  opacity: 1;
  background-color: var(--rdp-accent-color);
}

.day_outside {
  opacity: 0.6;
}

.day_disabled {
  opacity: 0.6;
}

.day_hidden {
  visibility: hidden;
}

.day_selected:focus-visible {
  /* Since the background is the same use again the outline */
  outline: var(--rdp-outline);
  outline-offset: 2px;
  z-index: 1;
}

.rdp:not([dir='rtl']) .day_range_start:not(.day_range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rdp:not([dir='rtl']) .day_range_end:not(.day_range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rdp[dir='rtl'] .day_range_start:not(.day_range_end) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rdp[dir='rtl'] .day_range_end:not(.day_range_start) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.day_range_end.day_range_start {
  border-radius: 100%;
}

.day_range_middle {
  border-radius: 0;
}

.weeknumber_rowheader {
  font-weight: 600;
  opacity: 0.6;
  font-size: small;
}

.weekdays_row {
}

.weekday_columnheader {
  text-align: center;
  font-weight: 600;
  opacity: 0.6;
  font-size: small;
  text-transform: uppercase;
}

.weekdays_row,
.week_row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.with_weeknumber .weekdays_row,
.with_weeknumber .week_row {
  grid-template-columns: repeat(8, 1fr);
}

.month_grid_wrapper {
}

.month_rowgroup {
}
.month_grid {
}
.month_caption {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.325em;
}

.caption_between {
}

.button_icon {
}
.footer {
}
